<div class="container-fluid mt-5">
    <div class="row border-bottom mt-5">
        <h5>Google colaboratory</h5>
    </div>
    <table class="table table-borderless">
        <tr>
            <th>タイトル</th>
            <th>分類</th>
            <th>作成時期</th>
            <th>簡単な内容説明</th>
        </tr>
        <tr>
            <td><a href="https://colab.research.google.com/drive/1cSCwwzhg2VRLAi1tkWiuSyIgvx2RK0j9?usp=sharing" target="_blank">networkx-hands-on</a></td>
            <td>グラフ理論</td>
            <td>2020年10月</td>
            <td>Pythonでグラフ理論を扱うことが出来る代表的ライブラリnetworkxのハンズオン</td>
        </tr>
        <tr>
            <td><a href="https://colab.research.google.com/drive/1RU2l9ADR4urgOYAwDHFHkgxarkbusu_2?usp=sharing" target="_blank">pythonで体感する正規表現</a></td>
            <td>正規表現</td>
            <td>2020年4月</td>
            <td>Pythonで正規表現を処理するためにはどうするのか、そもそも正規表現とは何かを手を動かしながら学ぶ。<a href="#regular-expression">スライド</a>も参照。</td>
        </tr>
    </table>
</div>