<div class="container-fluid mt-5">
    <div class="row border-bottom mt-5">
        <h5 class="mt-4">スライド資料</h5>
    </div>
    <table class="table table-borderless">
        <tr>
            <th>タイトル</th>
            <th>分類</th>
            <th>作成時期</th>
            <th>簡単な内容説明</th>
        </tr>
        <tr>
            <td><a href="https://www.slideshare.net/ssuser6d6ed8/ss-239033744" target="_blank">ベンダーズの分解法</a></td>
            <td>数理最適化/分解法</td>
            <td>2020年10月</td>
            <td>異なるクラスが混合している最適化問題に対して、それらを分解することにより解を得ようとするアプローチ</td>
        </tr>

        <tr>
            <td id="regular-expression"><a href="https://drive.google.com/file/d/1GLTZVax3D3UVtmITVXeXoKTtmZFtyzMy/view?usp=sharing" target="_blank">正規表現</a></td>
            <td>プログラミング</td>
            <td>2020年４月</td>
            <td>基礎的な正規表現をスライドにまとめたもの。なお、こちらは<b>共同作成したもの</b>です。</td>
        </tr>
        <tr>
            <td><a href="https://docs.google.com/presentation/d/1e-po7Cauq9x1De-QC2yqJ_kNUxsZnVUGG5kvx1ZWfaI/edit?usp=sharing" target="_blank">リーダブルコードを理解していこう-1章-</a></td>
            <td>プログラミング</td>
            <td>2020年3月</td>
            <td>真に目指すべきコードの書き方とはどのようなものか、という問いに対して１つの答えを与えてくれる書籍の1章をまとめた。輪読会用の資料。</td>
        </tr>
    </table>
</div>