<div class="container-fluid mt-5">
    <div class="row border-bottom mt-5 mb-2">
        <h5 class="mt-4">受賞など</h5>
    </div>
    <div class="row">
        <table class="table table-borderless table-striped">
            <tr>
                <th>時期</th>
                <th>内容</th>
            </tr>
            <tr>
                <td>2020年1月</td>
                <td>TOEIC 795点取得</td>
            </tr>
            <tr>
                <td>2020年3月</td>
                <td>工学部長賞 受賞</td>
            </tr>
            <tr>
                <td>2020年3月</td>
                <td>東北大学 ３年早期卒業</td>
            </tr>
        </table>
    </div>
</div>