<div class="container-fluid mt-5">
    <div class="row border-bottom mt-5 mb-2">
        <h5 class="mt-4">ちょっと出来ること</h5>
    </div>
    <ul style="column-count: 2;">
        <li>HTML</li>
        <li>CSS</li>
        <li>bootstrap</li>
        <li>JavaScript</li>
        <li>C</li>
        <li>C#</li>
        <li>Java</li>
        <li>Unity</li>
        <li>LaTex</li>
        <li>python</li>
        <li>Django</li>
        <li>画像処理</li>
        <li>OpenCV-python</li>
        <li>機械学習</li>
        <li>pandas</li>
        <li>numpy</li>
        <li>scikit-learn</li>
        <li>深層学習</li>
        <li>pytorch</li>
        <li>グラフ理論</li>
        <li>networkx</li>
        <li>スパースモデリング</li>
        <li>D-wave</li>
        <li>統計</li>
        <li>線形代数</li>
        <li>数理最適化</li>
    </ul>
</div>