<div class="container-fluid mt-5">
    <div class="row border-bottom mt-5 mb-2">
        <h5 class="mt-4">これまでの人生</h5>
    </div>
    <div class="row">
        {# 取り敢えずstripedにしたが、シックリ来なかったらtable-stripedを削除する #}
        <table class="table table-borderless table-striped">
            <tr>
                <th>時期</th>
                <th>内容</th>
            </tr>
            <tr>
                <td>2017年4月</td>
                <td>東北大学 工学部 電気情報物理工学科 入学（一般合格）</td>
            </tr>
            <tr>
                <td>2019年4月</td>
                <td><a href="https://hacarus.com/ja/" target="_blank">株式会社HACARUS</a> にてインターンシップ開始</td>
            </tr>
            <tr>
                <td>2019年5月</td>
                <td><a href="http://www.sb.ecei.tohoku.ac.jp/" target="_blank">木下・大林・西研究室</a>に配属される</td>
            </tr>
            <tr>
                <td>2020年3月</td>
                <td>東北大学 工学部 電気情報物理工学科 卒業（３年早期卒業）</td>
            </tr>
            <tr>
                <td>2020年4月</td>
                <td>東北大学 大学院 情報科学研究科 応用情報科学専攻 入学（早期卒業生枠）</td>
            </tr>
            <tr>
                <td>2020年4月</td>
                <td><a href="https://www.smapip.is.tohoku.ac.jp/index.html" target="_blank">田中・大関研究室</a>に配属される</td>
            </tr>
            <tr>
                <td>2020年9月</td>
                <td>楽天インターンシップ<a href="https://commerce-engineer.rakuten.careers/careers/graduates/internship/summer-short" target="_blank">二子玉川夏の陣2020</a>に参加</td>
            </tr>
        </table>
    </div>
</div>